@import "tailwindcss";

:root {
  --particle-color: #008554ba;
}

html {
}

.dark {
  --particle-color: rgba(36, 255, 160);
}

@theme {
  --font-heading: "Orbitron", "Arial Black", "Helvetica Neue", Arial, sans-serif;
  --font-baseText: "Montserrat", system-ui, sans-serif;

  /* --color-accent: hsl(0, 0%, 0%); */
  --color-accent: #1a7f37;
  /* #1a7f37 */

  /* --color-accent: #00a86b; */
  --color-accent-foreground: hsl(0, 0%, 100%);
  --color-background: hsl(0, 0%, 100%);
  --color-foreground: hsl(0, 0%, 5%);
  --color-muted: hsl(0, 0%, 94%);
  --color-muted-foreground: hsl(220 15.35% 19.44%);
  --color-border: hsl(0, 0%, 76%);
  --color-border-light: hsl(0, 0%, 85%);

  --color-dark-background: hsl(0, 0%, 0%);
  --color-dark-foreground: hsl(0, 0%, 95%);
  --color-dark-muted: hsl(0, 0%, 8%);
  --color-dark-muted-foreground: hsl(220deg 16.64% 84.59%);
  --color-dark-border: hsl(220, 13%, 26%);
  --color-dark-border-light: hsl(220, 13%, 20%);
  --color-dark-accent: hsl(158, 100%, 56%);
  --color-dark-accent-foreground: hsl(0, 0%, 0%);
}

.dark {
  --color-background: var(--color-dark-background);
  --color-foreground: var(--color-dark-foreground);
  --color-muted: var(--color-dark-muted);
  --color-muted-foreground: var(--color-dark-muted-foreground);
  --color-border: var(--color-dark-border);
  --color-border-light: var(--color-dark-border-light);
  --color-accent: var(--color-dark-accent);
  --color-accent-foreground: var(--color-dark-accent-foreground);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1.2s cubic-bezier(0.4, 0.2, 0.2, 1) both;
}
