---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="transition-colors duration-200">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Joni Harju</title>
    <meta name="description" content="Personal website of Joni Harju" />

    <!--Orbitron for big and small headings, and montserrat for base text  -->
    <!-- TODO: when ready remove the unneeded weights and styles if needed -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.gstatic.com/s/orbitron/v30/yMJRMIlzdpvBhQQL_Qq7dys.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />

    <!-- Prevent flash light theme on page load if user has dark theme. -->
    <script is:inline>
      (function () {
        const theme = localStorage.getItem("theme");
        const systemPrefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        const isDark = theme === "dark" || (!theme && systemPrefersDark);

        if (isDark) {
          document.documentElement.classList.add("dark");
        }
      })();
    </script>
  </head>
  <body
    class="m-0 w-full h-full bg-background text-foreground transition-colors duration-200 font-baseText"
  >
    <slot />
  </body>
</html>

<style>
  html {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
