---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />
    <title>Joni Harju</title>
    <meta
      name="description"
      content="Personal website of software developer Joni Harju"
    />

    <!--Orbitron for big and small headings, and montserrat for base text  -->
    <!-- TODO: when ready remove the unneeded weights and styles if needed -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Orbitron:wght@600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Prevent flash light theme on page load if user has dark theme. -->
    <script is:inline>
      (function () {
        const theme = localStorage.getItem("theme");
        const systemPrefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        const isDark = theme === "dark" || (!theme && systemPrefersDark);

        if (isDark) {
          document.documentElement.classList.add("dark");
        }
      })();
    </script>
  </head>
  <body class="m-0 w-full h-full bg-background text-foreground font-baseText">
    <slot />
  </body>
</html>

<style>
  html {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
