.projectContainer {
  background-color: white;
  /* width: 60%;
  max-width: 45rem; */
  width: 44.5rem;
  max-width: 44.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.45);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.45);
  margin: 3rem;
  margin-left: 3.5rem;
}

.imageContainer {
  width: 100%;
  position: relative;
}

.textContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
