.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 3rem;
}

.aboutMeContainer {
  margin-top: 3rem;
  width: 50%;
}

.technologyContainer {
  margin-top: 3rem;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.imageContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 3rem;
}

.techImage {
  margin-top: 1rem;
  margin-right: 1.5rem;
  width: 4rem;
  /* animation: popup 2s; */
}
/* 
@keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
} */

@media only screen and (max-width: 650px) {
  .imageContainer {
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .aboutMeContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .technologyContainer {
    width: 75%;
    align-items: center;
  }
}
